<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mediabrowser">
    <application>
        <service
            android:name=".MediaBrowserService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <provider
            android:name=".MediaArtworkContentProvider"
            android:authorities="com.mediabrowser.provider"
            android:exported="false" />
    </application>
</manifest>
